<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/account/show.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <title>Account Info</title>
</head>

<body>
    <h1>Account <%= account.accountNumber %> Info</h1>
    <hr>
    <span>Account Type: </span>
    <p><%= account.accountType %> </p>

    <span>Bank Name:</span>
    <p><%= account.institution %> </p>
    <span>Account Balance:</span>
    <p><%= account.balance%> </p>

    <span>Account Description:</span>
    <p><%= account.description %> </p>
    <hr>

    <h3>Transactions Log</h3>
    <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar ">

        <table class="table table-striped table-dark table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th scope="col">Trans #</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>

            <% account.transactions.forEach(transaction=>{%>

            <tbody>
                <tr>
                    <th scope="row">5</th>
                    <td><%= transaction.transactionAmount %> </td>
                    <td><%= transaction.date %> </td>
                    <td><%= transaction.transactionType %> </td>

                </tr>
            </tbody>
            <%}) %>
        </table>
    </div> </br>

    <a href="/accounts/<%= account._id %>/edit "><button>Edit</button></a>

    <form action="/accounts/<%= account._id %>?_method=DELETE " method="POST">
        <button type="submit">Delete</button>
    </form>

    <a href="/transactions/new "> new transaction</a> </br>

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg fixed-bottom">
        <a class="navbar-brand" href="/accounts">Back</a>
    </nav>
</body>

</html>