<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Info</title>
</head>

<body>
    <h1>Account <%= account.accountNumber %> Info</h1>
    <hr>
    Account Type: <p><%= account.accountType %> </p>
    Bank Name: <p><%= account.institution %> </p>

    Account Description: <p><%= account.description %> </p>
    <hr>
    <a href="/accounts/<%= account._id %>/edit ">Edit</a></br>
    <form action="/accounts/<%= account._id %>?_method=DELETE " method="POST">
        <button type="submit">Delete</button>
    </form> </br>
    <a href="/transactions/new "> new transaction</a>
    <a href="/accounts/<%= account._id %>/transrecord">Transactions</a>
    <a href="/accounts">Back</a>
</body>

</html>